.carousel-item img {
    max-height: 80vh; /* Ограничиваем высоту, чтобы карусель не была слишком большой */
    object-fit: contain; /* Показывает все изображение, может оставлять поля */
    margin: 0 auto; /* Центрируем изображение в карусели */
}
